<div class="wrapper">
  <app-header></app-header>

  <div class="content">

    <form class="form" [formGroup]="myForm" novalidate>

      <h1 class="form__title"> Recuperar cuenta </h1>

      <mat-form-field class="form__input" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="input['email'].touched && input['email'].invalid">
          <span *ngIf="input['email'].errors">Campo invalido</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form__input" appearance="fill">
        <mat-label>Confirmar email</mat-label>
        <input matInput formControlName="confirmEmail">
        <mat-error *ngIf="input['confirmEmail'].touched && input['confirmEmail'].invalid">
          <span *ngIf="input['confirmEmail'].errors">Campo invalido</span>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary">Enviar</button>
    </form>
  </div>

  <pre> {{ myForm.value | json }}</pre>
</div>