.form
  width: 100%
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  &__title
    padding: 0.9rem

  &__input
    width: 15rem
    display: flex
    justify-content: center
    flex-direction: column
    margin-bottom: 6px
