<app-header class="acceso-header"></app-header>


<div class="form-wrapper">

  <form class="form" [formGroup]="myForm" novalidate>

    <img class="form__logo" src="assets/login.jpg">

    <mat-form-field class="form__input" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="input['email'].touched && input['email'].invalid">
        <span *ngIf="input['email'].errors">Email invalido</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form__input" appearance="fill">
      <mat-label>contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>


    <button class="btn-access" mat-raised-button color="primary">Entrar</button>

    <a class="text" href="">Recuperar contraseña</a>
  </form>
  <pre>{{ myForm.value | json }}</pre>
</div>