$color-white: #fff
$color-gray: #949494
$color-blue: #5eadff
$color-blue-1: #66b8ffab
$color-blue-2: #007bfb
$color-blue-3:#154e6f
$color-green-2: #4caf50ab
$color-orange: #f39521
$color-brown: #a5293559
$color-teal: #408d86

$header: #a0baf7

$size-title: 21px
$size-subtitle: 18px
